<header class="header">
    <div class="logo-container">
        <a href="{{ .Site.BaseURL }}">
            <img src="https://www.eulaiq.com/assets/logo/logo.png" alt="EulaIQ Education Platform Logo" class="logo" loading="lazy" />
        </a>
        <h3 class="logo-title">EulaIQ</h3>
    </div>

    <button id="mobile-menu-btn" class="bi bi-list"></button>

    <nav class="nav">
        <a target="_blank" href="https://app.eulaiq.com" class="nav-link">App</a>
        <a target="_blank" href="https://blog.eulaiq.com" class="nav-link">Blog</a>
        <a href="https://eulaiq.com/#Faq" class="nav-link">Support</a>

        <i class="bi bi-moon-stars theme-toggle" id="theme-toggle"></i>

        <div class="auth-buttons">
            <a target="_blank" href="https://app.eulaiq.com/signin" class="auth-link signin">Sign In</a>
            <a target="_blank" href="https://app.eulaiq.com/auth" class="auth-link signup">Sign Up</a>
        </div>
    </nav>
</header>